#*  Social Media Aggregator
    
    Parses a Structured Data Block and returns an XML feed of each Feed Block's most recent status update.
        
    Feeds Supported:
        WordPress RSS 0.92, 2.0
        Facebook RSS
        Twitter API user_timeline XML
        Other chatter feeds
    
    Expects a Structured Data Block with one or more Feed Blocks attached:
    
    <system-data-structure>
    <feed>
        <stream/>
        <streamType/>
        <mute/>
    </feed>
    ...
    </system-data-structure>
    
    System requirements:
    Cascade Server 6.10 with Velocity 1.7
*#


###  Configurable variables ###


## The Maximum number of characters for each description.
#set ( $maxChars = 400 )

## The Structured Data Block elements to be parsed.
#set ( $feeds = $_XPathTool.selectNodes( $contentRoot, "//feed[mute = 'No']" ))


###  Private variables ###


## Get the current date and time.
#set ( $currentDate = $_DateTool.getDate() )

## Initialize the feed counter variable.
#set ( $streamsProcessed = 0 )


###  Functions ###

## Generate the description field.
#macro ( msgDescription $item $streamType $maxChars )
    #set ( $d = "" )

    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $d = $item.getChild( 'text' ).text )
    #else
        #set ( $d = $_DisplayTool.stripTags( $item.getChild('description').text) )
        #set ( $d = $_DisplayTool.truncate( $d, $maxChars, "", true) )
    #end
    <description>${_EscapeTool.xml( $d )}</description>
#end

## Generate the pubDate & datetime fields
#macro ( msgDates $item $streamType )

    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $textDate = $item.getChild( 'created_at' ))
        #set ( $pattern = "EEE MMM dd H:m:s Z yyyy" )
    #elseif (   ($streamType == 'Blog rss 2.0') ||
                ($streamType == 'Wordpress descriptions') ||
                ($streamType == 'Facebook') ||
                ($streamType == 'Blog rss 0.92') )
        ## E.g. Sun, 27 Nov 2011 23:35:59 +0000
        #set ( $pattern = "EEE, dd MMM yyyy H:m:s Z" )
        #set ( $textDate = $item.getChild( 'pubDate' ))
        
        #if ( $textDate.value == '' )
            #set ( $textDate = $_XPathTool.selectSingleNode( $item, "../lastBuildDate" ).text )
        #end
    #else
        #set ( $textDate = "" )
    #end
    
    
    ## Fri Nov 18 16:02:11 +0000 2011
    #set ( $pubDate = $_DateTool.toDate( $pattern, $textDate.value ))   
    <pubDate>${_DateTool.format('medium', $pubDate)}</pubDate>
    <datetime>${_DateTool.format( 'yyyyMMddHHmmss', $pubDate)}</datetime>
#end


## Generate the title field
#macro ( msgTitle $item $streamType )
    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $title = $item.getChild( 'text' ) )
    #else
        #set ( $title = $item.getChild( 'title' ) )
    #end
    <title>${_EscapeTool.xml( $title.value )}</title>
#end


## Provide the link to the status update
#macro ( msgLink $item $streamType )
    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $id = $item.getChild( 'id' ).text )
        #set ( $screen_name = $_XPathTool.selectSingleNode( $item, "user/screen_name" ).text )
        #set ( $link = "http://twitter.com/${screen_name}/status/${id}" )
    #else
        #set ( $link = $item.getChild( 'link' ).text )
    #end
    <link>${_EscapeTool.xml( $link )}</link>
#end

## Provide the name & link to the social media account
#macro ( nameAndLink $item $streamType )

    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $name = $_XPathTool.selectSingleNode( $item, "user/name" ) )
        #set ( $link = $_XPathTool.selectSingleNode( $item, "user/screen_name" ) )
    #else
        #set ( $name = $_XPathTool.selectSingleNode( $item, "../title" ) )
        #set ( $link = $_XPathTool.selectSingleNode( $item, "../link" ) )
    #end
    <name>${_EscapeTool.xml( $name.value )}</name>
    #if ( $link.value == '' )
        <link/>
    #else
        <link>${_EscapeTool.xml( $link.value )}</link>
    #end
#end

#*  <item>
          <media>
                <name/>
                <link/>
                <type/>
            </media>
            <message>
                <title/>
                <description/>
                <link/>
                <pubDate/>
                <datetime/>
            </message>
        </item>
*#


#*  Main program. Creates the chatter XML feed:
    <chatter verion="2.0">
        <lastPublished/>
        <streamsIndexed/>
        <item> +
        <processTime/>
        <streamsProcessed/>
    </chatter>
*#

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
<chatter version="2.1">
    <lastPublished>${_DateTool.format('EEE, dd MMM yyyy HH:mm:ss Z', $currentDate)}</lastPublished>
    <streamsIndexed>${feeds.size()}</streamsIndexed>

## Loop through each Feed Block and grab the most recent status update.
    
#foreach( $feed in $feeds )
    #set ( $item = '' )
    #set ( $streamType = $feed.getChild( 'streamType' ).text )
    #set ( $thumbnail = '' )
    
    ## Figure out the path to the most recent item
        
    #if ( $streamType == 'Twitter XML user_timeline' )
        #set ( $xpath = 'stream/content/statuses/status' )
        
    #elseif (   ($streamType == 'Blog rss 2.0') ||
                ($streamType == 'Wordpress descriptions') )
        #set ( $xpath = 'stream/content/rss/channel/item[1]' )
        #set ( $thumbnail = $_XPathTool.selectSingleNode($feed, "misc/thumbnail/path").text )
        
    #elseif ( $streamType == 'Facebook' )
        #set ( $xpath = "stream/content/rss/channel/item[ not( contains(description, '&lt;') )][1]" )
        
    #elseif ( $streamType == 'Chatter' )
        #set ( $xpath = "stream/content/chatter" )
    #end
    
    #set ( $item = $_XPathTool.selectSingleNode( $feed, $xpath ))
    
    #if ( $streamType != 'Chatter' )
        
        ## Count how many "most recent" status updates.
        #set ( $count = $_XPathTool.selectSingleNode( $feed, "count(${xpath})" ))
            
        #if ( $count > 0 )
        <item>
            <media>
                #nameAndLink ( $item $streamType )
                <type>${streamType}</type>
                #if ( $thumbnail != '' )
                    <thumbnail>${thumbnail}</thumbnail>
                #end
            </media>
            <message>
                #msgTitle ( $item $streamType )
                #msgDescription ( $item $streamType $maxChars )
                #msgLink ( $item $streamType )
                #msgDates ( $item $streamType )
            </message>
        </item>
            #set ( $streamsProcessed = $streamsProcessed + 1 )
        #end
    #else
        ##
        $_SerializerTool.serialize( $item, true )
    #end

#end

    #set ( $complete = $_DateTool.getDate() )
    <processTime>${_DateTool.difference( $currentDate, $complete )}</processTime>
    <streamsProcessed>${streamsProcessed}</streamsProcessed>
    
</chatter>